.App {
  height: 100%;
}
#root,body,html {
  height: 100%;
}
.ant-layout {
  display: flex;
  width: 100%;
  min-height: 100%;
}
.show::-webkit-scrollbar{
  display: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}
.listItem:hover{
  cursor: pointer;
  background-color: rgb(246,247,249);
  border-left: 2px solid rgb(62,111,521);
}
.active{
  background-color: rgb(246,247,249);
  border-left: 2px solid rgb(62,111,521);
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.chatList{
  border-left: 1px solid rgb(226, 226, 226);
  border-right: 1px solid rgb(226, 226, 226);
  width: 200px;
  background-color: white;
}